USE [master]
GO
/****** Object:  Database [NewDB]    Script Date: 1/8/2022 10:29:50 PM ******/
CREATE DATABASE [NewDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NewDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NewDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NewDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NewDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NewDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NewDB]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 1/8/2022 10:29:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[ID_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nchar](50) NULL,
	[Edad] [nchar](50) NULL,
	[Genero] [nchar](50) NULL,
	[Ciudad] [nchar](50) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Usuarios_vista]    Script Date: 1/8/2022 10:29:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Usuarios_vista] AS
SELECT ID_Usuario as 'ID', Nombre, Edad, Genero, Ciudad
FROM Usuarios;
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([ID_Usuario], [Nombre], [Edad], [Genero], [Ciudad]) VALUES (3, N'Emir Hernandez Perez                              ', N'22                                                ', N'Masculino                                         ', N'McAllen                                           ')
INSERT [dbo].[Usuarios] ([ID_Usuario], [Nombre], [Edad], [Genero], [Ciudad]) VALUES (4, N'Chich CRUD                                        ', N'30                                                ', N'Masculino                                         ', N'Rio Bravo                                         ')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
/****** Object:  StoredProcedure [dbo].[SP_UsuariosVista]    Script Date: 1/8/2022 10:29:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE 
	[dbo].[SP_UsuariosVista]
AS
BEGIN
	SELECT * FROM [Usuarios_vista];
END
GO
USE [master]
GO
